<!doctype html>
<html>
    
    <h1>
    <img src="https://cultofthepartyparrot.com/parrots/hd/parrot.gif" width="30" height="30">
    BONGEOURE, <%= @user.username.upcase %>
    <img src="https://cultofthepartyparrot.com/parrots/hd/rightparrot.gif" width="30" height="30">
    </h1>
    
    <h2>
        <p> Voici ton email poulet : <%= @user.email %> </p>
        <p> Voici ta bio poulet : <%= @user.bio %> </p>
    </h2>

</html>
